body {
    font-family: Pretendard; /* 원하는 폰트 */
    background-color: #f9f9f9; /* 배경 색상 */
    font-size: 16px; /* 본문 기본 글자 크기 */
    line-height: 1.6; /* 줄 간격 */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Pretendard; /* 제목 폰트 */
    font-size: 3em; /* 1레벨 제목 크기 */
    font-weight: bold; /* 굵기 */
    line-height: 1.3;
}

h2 {
    font-family: Pretendard;
    font-size: 2em; /* 2레벨 제목 크기 */
    font-weight: bold;
    line-height: 1.3;
}

h3 {
    font-family: Pretendard;
    font-size: 1.75em; /* 3레벨 제목 크기 */
    font-weight: bold;
    line-height: 1.3;
}

h4 {
    font-family: Pretendard;
    font-size: 1.5em; /* 4레벨 제목 크기 */
    font-weight: bold;
    line-height: 1.3;
}

h5 {
    font-family: Pretendard;
    font-size: 1.25em; /* 5레벨 제목 크기 */
    font-weight: bold;
    line-height: 1.3;
}

h6 {
    font-family: Pretendard;
    font-size: 1em; /* 6레벨 제목 크기 */
    font-weight: bold;
    line-height: 1.3;
}
